APP_PORT=3000
APP_ENV=development
APP_NAME=app_name

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=db_name

GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret

JWT_ACCESS_SECRET=your_access_jwt_secret
JWT_REFRESH_SECRET=your_refresh_jwt_secret
JWT_ACCESS_EXPIRES_IN=1d
